* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-body: #091a17;
    --bg-btn: #817878;
    --clr-font: #d33434;
    --clr-icon: #d3d3d3;
    --clr-taskAdd: #e9dfdf;
}

body {
    background-color:var(--bg-body);
    margin: auto;
    padding: 0 2rem 2rem;
    max-width: 500px;
}

h1 {
    color: var(--clr-font);
}

#addTaskBtn {
    background-color: var(--bg-btn);
    color: var(--clr-icon);
}

#taskList {
    color: var(--clr-taskAdd);
}

.completed {
    text-decoration: line-through;
    color: grey;
}

.list-group-item {
    display: flex;
    align-items: center;
    padding: 0.5rem; 
}

.list-group-item .btn {
    margin-left: 0.5rem; 
}

.list-group-item span {
    flex: 1; 
}